{% extends 'libreborme/base.html' %}

{% block javascript %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "url": "http://libreborme.net",
      "logo": "http://libreborme.net/static/libreborme_logo.png",
      "sameAs" : ["http://www.twitter.com/libreborme"],
      "potentialAction": {
         "@type": "SearchAction",
         "target": "http://libreborme.net/borme/search/?q={search_term_string}&page=1&type=all",
         "query-input": "required name=search_term_string"
       }
    }
    </script>
{% endblock %}
