body {
  padding-top: 0px;
  font-family: Lato;
}

footer {
  background-color: #232B32;
  color: white;
  padding: 50px 20px 30px 20px;
}

footer a {
  color: #CB6772;
}
footer a:hover {
  color: white;
}

footer img[src*="agpl"] {
  height: 20px;
  margin-right: 20px;
}

footer ul {
  list-style: none;
}

body > header {
  background-color: #A01626;
  height: 300px;
  background-image: url('/static/bg-triangles-gray.png');
  background-size: cover;
}
body > header.big {
}

body > header form {
  display: block;
  position: relative;
  max-width: 650px;
  margin: 30px auto;
}

body > header h1 {
  position: absolute;
  left: 0;
  top: 0;
}

body > header h1 img {
  width: 115px;
  height: 78px;
}

body > header h2 {
  position: absolute;
  left: 170px;
  top: 35px;
  color: white;
  font-size: 1.5em;
  width: 400px;
  max-width: 50vw;
  text-align: left;
}

body > header input[name="q"] {
  position: absolute;
  left: 0;
  top: 130px;
  padding: 10px 100px 10px 20px;
  font-size: 1.3em;
  height: 60px;
  width: 100%;
}

body > header button[type="submit"] {
  position: absolute;
  top: 131px;
  right: 0;
  width: 80px;
  height: 58px;
  border: none;
  background: #590D16;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
}
body > header button[type="submit"]:hover {
  background: #691D26;
  color: white;
}

body > header .advanced {
  position: absolute;
  right: 10px;
  top: 200px;
  color: white;
}

.container {
  position: relative;
  text-align: justify;
}

.container.main {
  padding: 50px 0;
}

.main h2,
.main h3 {
  margin-bottom: 20px;
}

aside.sponsors {
  background: #FAFAFA;
  margin-bottom: -100px;
  height: calc(100vh - 504px);
  min-height: 300px;
}

aside.sponsors .container {
  padding: 40px;
  text-align: center;
}

aside.sponsors p {
  margin-bottom: 20px;
}
aside.sponsors ul {
  display: inline-block;
  margin: auto;
  overflow: auto;
}
aside.sponsors li {
  float: left;
  list-style: none;
}
aside.sponsors li a {
  display: block;
  padding: 25px 40px;
  transition: filter .5s ease;
}
aside.sponsors li a:not(:hover) {
  filter: grayscale(100);
}

.main ul:not(.pagination) {
  list-style-type: none;
  padding: 0;
}

.main ul:not(.pagination) li {
  border-bottom: 1px solid #DDD;
  padding: 10px;
}

.main ul li:last-of-type{
  border: none;
}

.main ul li {
  transition: background .2s ease;
}

.main ul li:hover {
  background-color: #F3F3F3;
}

h2 i.glyphicon {
  font-size: .6em;
}

.jumbotron {
  padding-top: 20px;
  background-color: #EEE;
}

.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

td.sat {
  background-color: #F0F0F0;
  color: #666;
}

td.sun {
  background-color: #F0F0F0;
  color: #A01626;
}

td.today {
  border-bottom: 1px dashed red;
}

td.day {
  text-align: center;
  transition: all .2s ease;
}

td.day:hover {
  background-color: rgba(160, 22, 38, .7);
  color: white;
}

td.bormeday {
  font-weight: bold;
  text-decoration: underline;
}

td.nobormeday {
  text-align: center;
  color: darkgray;
}

td.selected {
  background-color: #A01626;
  border: none;
  font-weight: bold;
  color: white;
}

td.nobormeday:hover {
  background-color: rgba(160, 22, 38, .7);
  color: white;
  font-weight: bold;
}

table.calendar > tbody > tr > * {
  padding: 4px;
}

.calendar caption {
  color: white;
  text-align: center;
  padding: 5px;
  background-color: #A01626;
  border-radius: 2px 2px 0px 0px;
}

td.calendar {
  color: gray;
}

.calendar {
  width: 90%;
  cursor:pointer;
  padding-top: 10px;
  border: 1px solid #EAEAEA;
}

table.year {
  border-spacing: 30px;
  border-collapse: separate;
}

.limiter {
  margin: 0 auto;
  width: 993px;
}

.header-buttonline {
    display: inline-block;
}

.header-message {
    display: inline-block;
    font-size: 12px !important;
    font-weight: bold;
    margin-left: 5px;
    padding: 10px 0;
}

#headerCookies {
  display: block;
  max-width: 100vw;
  background-color: #222;
  box-shadow: 0 0 2px #CCC;
  color: white;
}

#headerCookies a {
  color: darkgray;
}

#headerCookies button {
  font-weight: bold;
  background-color: black;
  border-color: black;
}

#headerCookies p {
    margin: 2px;
    padding: 0
}

.main h1 {
  margin: 30px 0 30px 10px;
}

.modal-header {
  padding: 18px 25px 18px 40px;
}
.modal-header .close {
  margin-top: 1px!important;
}
.modal-body {
  padding: 20px 40px;
  text-align: justify;
}

@media only screen
  and (max-device-width: 992px) {

  body > header h2 {
    top: 48px;
    left: 140px;
    font-size: 1em;
  }

  .main h1 {
    margin-left: 30px;
  }
  .main .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  footer > .container > .row > * {
    margin-bottom: 20px;
  }

  footer li {
    text-align: center;
  }
  footer li a {
    display: block;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  .limiter {
    width: auto;
    padding: 10px 15px;
  }
}
